@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<form method= "post" action="/posts/create">
    <label for= "Message-input">Type your Message</label>
    <input id="Message-input" type= "text" name= "Message"/>

    <label for= "ImageUrl-input">Upload your Image</label>
    <input id="ImageUrl-input" type= "text" name= "ImageUrl"/>

    <label for= "UserId-input">Type your User Id</label>
    <input id="UserId-input" type= "text" name= "UserId"/>

    <button type="submit">Submit!</button>


</form>