@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<ol>
    @foreach (var post in Model.Posts)
    {
        <li>
            <p>
                @post.Message 
            </p>

            <img src= "@post.ImageUrl"/>
 
            
        </li>


        @* <img src= "/images/puppy.jpg"alt="Dogs"/> *@
    }
</ol>