<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyFace</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel = "stylesheet" href= "~/css/Mystyles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
 </head>
<body>
    <header>
    <nav class="nav-bar">
     <a class=" nav-link" href="/">MyFace</a>

    <div class="middle-links">
      <a class="nav-link" href="/posts">Posts</a>
      <a class="nav-link " href="/posts/create">Create Post</a>
      <a class="nav-link " href="/users">Users</a>
    </div>

      <a class="nav-link" href="/privacy">Privacy</a>
      </nav>
    </header>


    <div>
        <main class= "body-elements" role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class= "footer-content">
        <img src="/images/corndel-logo.png" alt="Corndel logo">
        <img src="/images/softwire-logo.png" alt="Softwire logo">
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
